.stack-links{
    color: #fff !important;
    text-decoration: none !important;
    cursor: pointer;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: rgb(160, 57, 228);
  }

  .home{
    margin: 15%;
  }